.chessboard{
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    background-color: blue;
}

.plate{
    width: 100px;
    height: 100px;
}

.black_plate{
    background-color: #769656;

}

.white_plate{
    background-color: #EEEED2;
}
